{% extends 'base.html' %}

{% block title %}
<title>Expenses</title>
{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <p>
        <a href="{% url 'create_receipt'%}">Create A Receipt</a>
    </p>
    <p>
        <a href="{% url 'create_category' %}">Create A Category</a>
    </p>
    <p>
        <a href="{% url 'create_account' %}">Create An Account</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_list%}
            <tr>
                <td>{{receipt.vendor}}</td>
                <td>{{receipt.total}}</td>
                <td>{{receipt.tax}}</td>
                <td>{{receipt.date|date:"m/d/Y"}}</td>
                <td>{{receipt.category.name}}</td>
                <td>{{receipt.account.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}